{% extends "::base.html.twig" %}

{% block title %}AVBundle:EnvioEmailController:Enviar{% endblock %}

{% block body %}
<h1>Welcome to the EnvioEmailController:Enviar page</h1>

	{{ mensaje }}
{% endblock %}
